[submodule "zksbom/third_party/oZKS"]
	path = zksbom/third_party/oZKS
	url = git@github.com:chains-project/oZKS.git
	branch = zkSBOM
[submodule "zksbom-verifier/third_party/oZKS"]
	path = zksbom-verifier/third_party/oZKS
	url = git@github.com:chains-project/oZKS.git
	branch = zkSBOM
