[submodule "zksbom-verifier/third_party/oZKS"]
	path = zksbom-verifier/third_party/oZKS
	url = https://github.com/chains-project/oZKS.git
	branch = zkSBOM
[submodule "rq1/druid"]
	path = rq1/druid
	url = https://github.com/apache/druid.git
[submodule "rq1/rogue-jndi-server"]
	path = rq1/rogue-jndi-server
	url = https://github.com/veracode-research/rogue-jndi.git
[submodule "rq1/uv"]
	path = rq1/uv
	url = https://github.com/astral-sh/uv.git
[submodule "rq1/strapi"]
	path = rq1/strapi
	url = https://github.com/strapi/strapi.git
[submodule "rq1/kubernetes"]
	path = rq1/kubernetes
	url = https://github.com/kubernetes/kubernetes.git
